alembic
bcrypt==4.0.1             
black
fastapi[standard]
httpx
razorpay==2.0.0
loguru
passlib[bcrypt]
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn
pandas
openpyxl
reportlab
